# Віртуальне оточення та кеш (твоє)
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Бази даних та секрети (твоє)
*.db
.env

# Конфіги IDE (VS Code створює папку .vscode для налаштувань дебагу/інтерпретатора)
.vscode/
.history/

# Системні файли Linux (іноді створюються системою в папках)
.DS_Store
.directory